
.list{
  @apply flex flex-col gap-1 p-3 justify-between;
}

.item {
  @apply p-2 rounded-md hover:bg-slate-100;
}

.active-item{
  @apply bg-blue-500 text-white;
}

.sidebar-footer{
  @apply p-5 mb-16;
}

.button {
  @apply cursor-pointer uppercase;
}